<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:cxf="http://cxf.apache.org/core" xmlns:jaxrs="http://cxf.apache.org/jaxrs"
	xsi:schemaLocation="
	       http://www.springframework.org/schema/beans
	       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	       http://www.springframework.org/schema/context
	       http://www.springframework.org/schema/context/spring-context-3.0.xsd
	       http://www.springframework.org/schema/aop
	       http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
	       http://cxf.apache.org/jaxrs
	       http://cxf.apache.org/schemas/jaxrs.xsd
	       http://cxf.apache.org/core
	       http://cxf.apache.org/schemas/core.xsd
	       ">

	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />

	<bean id="monWebService" class="net.jklass.monapi.web.MonWebImpl"
		scope="prototype">
		<property name="bandwidthDao" ref="ESbandwidthDao"></property>
	</bean>

	<bean id="inLogger" class="org.apache.cxf.interceptor.LoggingInInterceptor" />
	<bean id="outLogger" class="org.apache.cxf.interceptor.LoggingOutInterceptor" />
	
	<bean id="ESbandwidthDao" class="net.jklass.monapi.dao.ESBandwidthDao">
	</bean>

	<jaxrs:server id="restTDService" address="/">
		<jaxrs:providers>
			<bean class="org.codehaus.jackson.jaxrs.JacksonJaxbJsonProvider">
			</bean>
		</jaxrs:providers>
		<jaxrs:serviceBeans>
			<ref bean="monWebService" />
		</jaxrs:serviceBeans>

		<jaxrs:inInterceptors>
			<ref bean="inLogger" />
		</jaxrs:inInterceptors>
		<jaxrs:outInterceptors>
			<ref bean="outLogger" />
		</jaxrs:outInterceptors>
	</jaxrs:server>

</beans>